<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">{{ card_header }}</div>
      <div class="card-body"><p>{{ card_body }}</p>

        {% if password_reset_confirm or password_change_form or password_reset_form %}
          {% include 'users/includes/form.html' %}
        {% endif %}

        {% if login_signup_form %}
          {% include 'users/includes/login_signup_form.html'%}
        {% endif %}

        {% if password_reset_complete %}
          <a href="{% url 'users:login' %}">войти</a>
        {% endif %}

      </div> <!-- card-body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->