<form method="post" action="
  {% if password_change_form %}
    {% url 'users:password_change' %}
  {% elif password_reset_form %}
    {% url 'users:password_reset' %}
  {% endif %}">

  {% csrf_token %}

  {% if password_change_form %}
    <div class="form-group row my-3 p-3">
      <label for="id_old_password">
        Старый пароль
        <span class="required text-danger">*</span>
      </label>    
      <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password">
    </div>
  {% endif %}

  {% if password_reset_confirm or password_change_form %}
    <div class="form-group row my-3 p-3">
      <label for="id_new_password1">
        Новый пароль
        <span class="required text-danger">*</span>
      </label>    
      <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
      <small id="id_new_password1-help" class="form-text text-muted">
        <ul>
          <li>
            Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.
          </li>
          <li>
            Ваш пароль должен содержать как минимум 8 символов.
          </li>
          <li>
            Ваш пароль не может быть одним из широко распространённых паролей.
          </li>
          <li>
            Ваш пароль не может состоять только из цифр.
          </li>
        </ul>
      </small>
    </div>
  
    <div class="form-group row my-3 p-3">
      <label for="id_new_password2">
        Подтверждение нового пароля
        <span class="required text-danger">*</span>
      </label>    
      <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
    </div>
  {% endif %}

  {% if password_reset_form %}
    <div class="form-group row my-3 p-3">
      <label for="id_email">
        Адрес электронной почты
        <span class="required text-danger">*</span>
      </label>    
      <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
    </div>
  {% endif %}

  <div class="col-md-6 offset-md-4">
    <button type="submit" class="btn btn-primary">
      {% if password_reset_confirm %}
        Назначить новый пароль
      {% elif password_change_form %}
        Изменить пароль
      {% elif password_reset_form %}
        Сбросить пароль
      {% endif %}
    </button>
  </div>
</form>