{% extends "base.html" %}
{% load static %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}

  <h1>Привет, я автор!</h1>

  <p>Меня зовут Антон, мне 35 лет. Этим проектом я начинаю свой путь в удивительный мир программирования.</p>

  <img src="{% static 'img/my_foto.jpg' %}" width="20%" style="float: left; margin-right: 50px; background: #f0f0f0; border-radius: 5px; padding: 1%">

  <ul>Контакты:
    <li>Email:&ensp;<b>shahter86@mail.ru</b></li>
    <li>Страница&ensp;<a href="https://vk.com/antonlukin1986" target="_blank">ВКонтакте</a></li>
    <li>Профиль&ensp;<a href="https://www.instagram.com/anton1986lukin/" target="_blank">Instagram</a></li>
    <li>Ссылка на&ensp;<a href="https://github.com/AntonLukin1986" target="_blank">Github</a></li>
  </ul>

  <p>
    В данный момент я прохожу обучение по специальности "Python-разработчик" в Яндекс Практикуме.
    Изначально этот сайт был создан в рамках обязательной программы обучения. Однако, я решил развивать
    его дальше самостоятельно, улучшая и добавляя новые возможности. Посмотрим, что из этого выйдет ;-)
  </p>

{% endblock %}