{% extends "base.html" %}
{% load static %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}

  <h1>Привет, я автор!</h1>
  <p>Меня зовут Антон, мне 35 лет. Этим проектом я начинаю свой путь в удивительный мир программирования.</p>
  <img src="{% static 'img/my_foto.jpg' %}" width="150" height="150">
  <ul>Контакты:
    <li>Email:&ensp;<b>shahter86@mail.ru</b></li>
    <li>Страница&ensp;<a href="https://vk.com/antonlukin1986" target="_blank">ВКонтакте</a></li>
    <li>Профиль&ensp;<a href="https://www.instagram.com/anton1986lukin/" target="_blank">Instagram</a></li>
    <li>Ссылка на&ensp;<a href="https://github.com/AntonLukin1986" target="_blank">Github</a></li>
  </ul>
    Тут я размещу информацию о себе, используя свои умения верстать.
    Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
  
{% endblock %}