{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block content %}
  <div class="row">
    <h1>Вот, что я умею</h1>

    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python 3.9.7
        </li>
        <li class="list-group-item">
          Django 2.2.19
        </li>
        <li class="list-group-item">
          HTML5 и CSS
        </li>
        <li class="list-group-item">
          SQLite
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-9">
      <p>
        Для реализации этого проекта был использован <i>фреймворк</i> <b>Django</b> - мощный инструмент для создания веб-приложений на
        <i>языке</i> <b>Python</b>. Непосредственно страницы сайта написаны с использованием <i>языка гипертекстовой разметки</i>
        <b>HTML5</b> и <i>каскадных таблиц </i> <b>CSS</b>. Для хранения данных используется <i>реляционная база данных</i> <b>SQLite</b>.
      </p>
    </article>

  </div>
{% endblock %}