{% extends "base.html" %}

{% block title %}Технологии{% endblock %}

{% block content %}
  <div class="row">
    <h1>Вот, что я умею</h1>

    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python 3.9.7
        </li>
        <li class="list-group-item">
          Django 2.2.19
        </li>
        <li class="list-group-item">
          HTML5 и CSS
        </li>
        <li class="list-group-item">
          SQLite3
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-9">
      <p>
        Для реализации этого проекта был использован фреймворк <b>Django</b> - мощный инструмент для создания веб-приложений на
        языке <b>Python</b>. Cтраницы сайта написаны с использованием языка гипертекстовой разметки <b>HTML5</b> и 
        каскадных таблиц стилей <b>CSS</b>. Для хранения данных используется реляционная база данных <b>SQLite3</b>.
      </p>

      <!--Документация к виджету «Запись на стене»: https://vk.com/dev/widget_post-->
      <div id="vk_post_-3470349_111169"></div>
      <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
      <script type="text/javascript">
        (function() {
          VK.Widgets.Post("vk_post_-3470349_111169", -3470349, 111169, 'FxqjKAciH3-kKoOvf_Xd2DUZGxpj', {width: 500});
        }());
      </script>

    </article>

  </div>
{% endblock %}