{% load thumbnail %}

<article>
  <ul>
    {% if not profile %}
      <li>
        Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
      </li>
    {% endif %}
    {% if not group_list and post.group %}
      <li>
        Сообщество: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group }}</a>
      </li>
    {% endif %}
    {% if post_detail %}
      <li>
        Дата публикации: <br> {{ post.created|date:"d E Y" }}
      </li>
      <li>
        Всего постов пользователя: {{ post.author.posts.all.count }}
      </li>
    {% endif %}
  </ul>

  {% if not post_detail %}
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a><br>
  {% endif %}

  {% thumbnail post.image "700x500" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}

  <p>
    {% if post_detail %}
      {{ post.text|linebreaks }}
    {% else %}
      {{ post.text|linebreaks|truncatewords:20 }}
    {% endif %}
  </p>

  {% if post_detail and user == post.author %}
    <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">
      редактировать запись
    </a>
  {% endif %}
</article>